# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# src
src/main
src/base/java/io/github/championash5357/entityarmormodels/client/renderer/entity/model/vanilla
